@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <h3>Welcome, Admin. Please select functions below</h3>
    <div class="row" style="margin-top:10%">
        <br />

        <div class="col-12 col-md-6" onclick="ProductManagement()">
                <img src="~/img/ProductIcon.jpg" width="40%" height="60%"/>
                <br/>
            	<h6>Product Management</h6>
        </div>

        <div class="col-12 col-md-6" onclick="OrderManagement()">
                <img src="~/img/OrderIcon.png" width="40%" height="60%"/>
                <br/>
                <h6>Order Management</h6>
        </div>

    </div>
</div>

<script>
function ProductManagement() {
    window.location.href = "/Product/Index";
}

function OrderManagement() {
    window.location.href = "/Orders/Index";
}
</script>